/* Styles globaux de nos pages
 * Ce style sera appliqué d'office à toutes nos pages
 */
@font-face
{
	font-family: "Ubuntu-L";
	src: url(/fonts/Ubuntu-L.ttf) format('truetype');
}

@font-face
{
	font-family: "Ubuntu-M";
	src: url(/fonts/Ubuntu-M.ttf) format('truetype');
}

body
{
	font-weight: 3;
	font-family: "Ubuntu-L", Helvetica, Arial, sans-serif;
	background-color: lightcyan;
	font-size: 100%;
}

header
{
	background-color: darkslateblue;
}

nav
{
	padding: 1%;
}

h1
{
	font-weight: 5;
	color: mediumslateblue;
	font-size: 280%;
}

h2
{
	color:  darkslateblue;
	font-size: 130%;
}

audio, video
{
	width: 60%;
}

/*Classes*/
.gras
{
	font-family: "Ubuntu-M", Helvetica, Arial, sans-serif;
}

.light
{
	font-family: "Ubuntu-L", Helvetica, Arial, sans-serif;
}

.red
{
	color: indianred;
}

.blue
{
	color: darkslateblue;
}

.black
{
	color: black;
}

.home_image
{
	max-width: 100%;
}

.fruit_image
{
	max-width: 20%;
	float: left;
}

.header_logo
{
	width: 3.5%;
	padding: 1% 0 0 1%;
}

.nav_link
{
	color: white;
	text-decoration: none;
	margin-right: 0.5%;
}