body
{
	background-color: lightgoldenrodyellow;
}

section
{
	background-color: wheat;
	padding: 2px 1% 2% 1%;
	margin-bottom: 20px;
}

h1, h2
{
	color: slategrey;
}

/*
CLASSES
*/
.standard_box
{
	background-color: lightgreen;
}

.image_content
{
	background-color: yellow;
	box-sizing: border-box;
	width: 250px;
	height: auto;
	margin: 10px;
	padding: 20px;
	border: 6px solid blue;
}