body
{
	background-color: lightgoldenrodyellow;
}

section
{
	background-color: wheat;
	padding: 2px 1% 2% 1%;
	margin-bottom: 20px;
}

h1, h2
{
	color: slategrey;
}

/*
CLASSES
*/
.standard_box
{
	background-color: lightgreen;
}

.image_content
{
	background-color: yellow;
	box-sizing: border-box;
	width: 250px;
	height: auto;
	margin: 10px;
	padding: 20px;
	border: 6px solid blue;
}

.flex_fieldset
{
	margin-top: 1%;
	max-width: 100%;
}

.flex_container
{
	display: flex;
	width: 100%;
	background-color: lightgray;
}

.direction_column
{
	flex-direction: column;
}

.flex_item
{
	color: white;
	padding: 5px;
}

.item_Bruxelles
{
	background-color: navy;
}

.item_Madrid
{
	background-color: orange;
}

.item_Oslo
{
	background-color: mediumpurple;
}

.item_Paris
{
	background-color: forestgreen;
}

.justify_center
{
	justify-content: center;
}

.justify_end
{
	justify-content: flex-end;
}

.justify_space_between
{
	justify-content: space-between;
}

.justify_space_around
{
	justify-content: space-around;
}